#*
This file allows you to override and define new Velocity variables.
*#
#set ($images_folder = "$theme_display.getPathThemeImages()")
#set ($DD_belatedPNG = $htmlUtil.escape($portalUtil.getStaticResourceURL($request, "$javascript_folder/DD_belatedPNG.js")))